@media all and (min-width: 480px) {
  .AccountSettings {
    background: #f4f4f4;
    padding: 60px 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  }

  .AccountSettings .container{
    margin: 0 auto;
    max-width: 800px;
  }

  .AccountSettings .form-control-lg {
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  .AccountSettings .card {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px 0px;
  }

  .AccountSettings .btn-primary {
    background-color: #006747;
    border-color: #006747;
    border-radius: 1rem;
    font-size: 1rem;
  }

  .AccountSettings .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #979797;
    border-color: #979797;
  }

  .AccountSettings .btn-primary:disabled {
    background-color: #979797;
    border-color: #979797;
  }

  .switch {
    margin-top: 8px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    /* top: 2px; */
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #006747;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #006747;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}